!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/.env.test.local
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/tags
/tmp/*
.byebug_history
.idea/*
# React on Rails
npm-debug.log*
node_modules

# Generated js bundles
/app/assets/webpack/*
