<h1><%= @restaurant.name  %></h1>

<div class="contact">
  <ul>
    <% @restaurant.display_address.each do |item|   %>
      <li><%=  item  %></li>
  <% end  %>
  </ul>
</div>
<div class="sources">
  <h2 class="sources__header">Sources</h2>
  <ul>
    <% @restaurant.sources.each do |source|   %>
      <li class="source"><a href="<%= sources_path(source) %>"><%=  source.name  %></li>
    <% end  %>
  </ul>
</div>
